# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
* List of popular languages for Data Science
* List of popular libraries for Data Science
* Last of Data Science Tools
* A few examples of arithemitic expressions

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R
4. SQL

Some of the commonly used libraries by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. SciPy

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Lena